body {
  font-family: 'Cabin', sans-serif;
}

.menu a.active {
  @apply bg-accent;
  @apply font-semibold;
}


.menu span {
  @apply text-accent;
  @apply uppercase;
  @apply text-xs;
  @apply block;
  @apply pl-3;
  @apply pt-4;
  @apply pb-2;
}

.menu a {
  @apply rounded-none;
}

.menu :where(li) a.active+ul {
  position: unset;
  display: unset;
  margin-left: 30px;
  margin-top: 10px;
}


.menu :where(li) ul a {
  @apply text-sm;
  padding: 5px 50px;
}

.menu :where(li) a.active+ul a {
  padding: 5px 0;
  background: unset;
  border-radius: 0 !important;
}

.menu :where(li) a.active+ul a::before {
  content: '';
  width: 5px;
  height: 5px;
  @apply bg-accent;
}



.menu span::after {
  content: '';
  width: 25px;
  height: 1px;
  @apply bg-accent;
  position: absolute;
  top: 62%;
  margin-left: 5px;
}

.drawer-toggle~.drawer-side {
  max-height: unset !important;
}

.drawer {
  height: unset;
  min-height: 100vh;
}

/* ========== */

.form-control input {
  @apply input input-bordered w-full;
  border-color: #e5e7eb;
}

.form-control.sm input {
  @apply input input-bordered input-sm;
  border-color: #e5e7eb;
}

.form-control select {
  @apply select select-bordered;
}

.form-control.sm select {
  @apply select select-bordered select-sm w-full;
}

.flex .col {
  padding: 10px;
}

@media(min-width: 1024px) {
  .drawer-side {
    overflow-y: unset !important;
  }
}






.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  height: unset !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: 0;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 20px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 12px !important;
  background: black;
  padding: 10px 5px;
  color: #fff;
}


#hero {
  background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('./assets//images/hero-1.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}